<div *ngIf="!loading">
  <div *ngIf="todosService.todos.length; else noTodos" class="todos">
    <div class="undone-container">
      <section id="undone-title" class="list-title">
        Not completed todos
      </section>
      <ul>
        <li *ngFor="let todo of todosService.filteredTodosUndone() let i = index"
            [class.completed]="todo.completed"
            [class.notcompleted]="!todo.completed">
          <div class="info">
            <label class="checkbox-other">
              <input (change)="onChangeCheckbox(todo.id)" [checked]="todo.completed" type="checkbox">
              <span [class.done]="todo.completed">{{ todo.title }}</span>
            </label>
          </div>
          <div class="actions">
            <button (click)="updateTodo(todo.id)" class="update">Change</button>
            <button (click)="removeTodo(todo.id)" class="rm">&times;</button>
          </div>
        </li>
      </ul>
    </div>

    <div class="done-container">
      <section id="done-title" class="list-title">
        Completed todos
      </section>
      <ul class="done-list">
        <li *ngFor="let todo of todosService.filteredTodosDone() let i = index"
            [class.completed]="todo.completed"
            [class.notcompleted]="!todo.completed">
          <div class="info">
            <label class="checkbox-other">
              <input (change)="onChangeCheckbox(todo.id)" [checked]="todo.completed" type="checkbox">
              <span [class.done]="todo.completed">{{ todo.title }}</span>
            </label>
          </div>
          <div class="actions">
            <button (click)="updateTodo(todo.id)" class="update">Change</button>
            <button (click)="removeTodo(todo.id)" class="rm">&times;</button>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <ng-template #noTodos>
    <p style="text-align: center;">TodoList is empty</p>
  </ng-template>
</div>
<p *ngIf="loading">Loading...</p>

