.todos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5%;
}

.list-title {
  margin-top: 1rem;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
}

#done-title {
  color: darkgreen;
}

#undone-title {
  color: darkred;
}

ul {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
  list-style: none;

  li {
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    border: 2px solid;
    border-color: #cccccc;
    border-radius: 10px;

    input {
      margin-right: 1rem;
    }
  }
}

.completed {
  background-color: #eeeeee;
}

.done {
  font-weight: bolder;
}

.actions {
  display: flex;
  justify-content: space-between;
}

.update {
  margin-right: 10px;
  margin-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #1d49aa;
  color: #fff;
  font-size: 0.7rem;
  border: none;
  height: 23px;
  cursor: pointer;

  &:hover {
    background: darken(#1d49aa, 20%);
  }

  &:active {
    background: darken(#1d49aa, 50%);
    font-weight: bold;
  }
}

.rm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background: red;
  color: #fff;
  font-size: 1rem;
  border: none;
  transition: .3s all;
  cursor: pointer;
  outline: none;

  &:hover {
    background: orange;
  }

  &:active {
    background: black;
  }
}

.checkbox-other {
  display: block;
  margin: 0 0;
  cursor: pointer;
  user-select: none;
  position: relative;
}
.checkbox-other input[type=checkbox] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.checkbox-other span {
  display: inline-block;
  position: relative;
  padding: 0 0 0 35px;
  line-height: 22px;
}
.checkbox-other span:before {
  content: "";
  display: inline-block;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 0;
  top: 0;
  transition: background 0.3s ease;
  background: url(https://snipp.ru/uploads/contents/checkbox-1.png) 0 0 no-repeat;
}

/* Checked */
.checkbox-other input[type=checkbox]:checked + span:before {
  background-image: url(https://snipp.ru/uploads/contents/checkbox-2.png);
}

/* Focus */
.focused span:before {
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

/* Hover */
.checkbox-other span:hover:before {
  filter: brightness(110%);
}

/* Active */
.checkbox-other span:active:before {
  filter: brightness(80%);
}

/* Disabled */
.checkbox-other input[type=checkbox]:disabled + span {
  color: #666;
  cursor: default;
}
.checkbox-other input[type=checkbox]:disabled + span:before {
  filter: grayscale(100%);
  opacity: 0.6;
}
